@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Merriweather:wght@400;700&display=swap');
/*  
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Merriweather', serif;
*/
body{
    background-color:azure;
   margin: 0;
   padding: 0%;
   box-sizing: border-box;

}
html{
    font-size: 20px;

}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    flex-direction: column;
    padding: 50px 0;
}
section h1{
    color: rgba(255, 255, 255, .322);
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}
section p{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, .322);
    width: 100%;
    margin-bottom: 40px;
}
.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}
.texts p{
    color: black;
    text-align: left;
    background-color: cornsilk;
padding: 10px;
border-radius: 8px;
margin-bottom: 10px;
font-family: 'Alegreya Sans', sans-serif;
}
.texts p.replay{
    text-align: right;
}